[scheduled.homebrew-upgrade]
schedule = "0 0 12 * * *" # every day at noon
command = "homebrew-upgrade"
makeUpMissedRun = true
retry = true

[scheduled.online-backup]
schedule = "0 0 12 * * *" # every day at noon
disabled = true
command = "backup"
makeUpMissedRun = true
retry = true

{{ if .cru }}
[scheduled.mpdx-update]
schedule = "0 */10 9-16 * * Mon-Fri" # 9-5 Monday-Friday
command = "git pull && yarn gql"
workingDir = "~/dev/mpdx-react"
{{ end }}

{{ if .proxy }}
[startup.mitmproxy]
command = "mitmdump --quiet --ssl-insecure --listen-port $(portman create mitmproxy --no-activate --overwrite) --scripts $HOME/dev/proxy.py"
keepAlive = true
{{ end }}

{{ if .watcher }}
[startup.mailbox-proxy]
command = "mailbox-proxy"
keepAlive = { delay = "1m", failures = true }

[scheduled.feed-watcher]
schedule = "0 0 12 * * Fri" # every Friday at noon
command = "feed-watcher https://gist.githubusercontent.com/canac/647a8c4542cc088b333b3d0bcc765b9d/raw/feeds.toml"
makeUpMissedRun = true
retry = true

[scheduled.release-watcher]
schedule = "0 0 * * * *" # hourly
command = "release-watcher https://gist.githubusercontent.com/canac/ac3eaa16cb9c3e03530fbee64e1e690f/raw/packages.toml"
{{ end }}
