#!/usr/bin/env bash

# Install the caddy root certificates
caddy trust

# Use portman to initialize the Caddyfile so that caddy can be started
portman reload-caddy || true

{{ if .cru }}
# Add Caddyfile entries
caddyfile_path="$HOMEBREW_PREFIX/etc/Caddyfile"
cru_caddyfile_path="$HOME/.config/caddy/cru-Caddyfile"
grep --silent --fixed-strings "$cru_caddyfile_path" "$caddyfile_path" || echo "import \"$cru_caddyfile_path\"" >> "$caddyfile_path"
{{ end }}

brew services restart caddy
