#!/bin/bash

# In phase 1, install all needed binary files from the package manager

{{ if (ne .chezmoi.os "darwin") }}
sudo apt install curl gcc git
{{ end }}

if [ ! $(which brew) ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ if (eq .chezmoi.os "darwin") }}
eval "$(/usr/local/bin/brew shellenv)"
{{ else if (eq .chezmoi.os "linux" ) }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "cantino/mcfly"
tap "homebrew/services"
tap "nextdns/tap"
brew "bat"
brew "caddy"
brew "cargo-edit"
brew "chezmoi"
brew "copier"
brew "ffmpeg"
brew "fd"
brew "fish"
brew "fzf"
brew "git"
brew "git-absorb"
brew "git-delta"
brew "go"
brew "hasura-cli"
brew "imagemagick"
brew "lazygit"
brew "mcfly"
brew "nextdns"
brew "node"
brew "postgresql"
brew "ruby"
brew "rustup-init"
brew "starship"
brew "wget"
brew "youtube-dl"
brew "zoxide"
{{ if (eq .chezmoi.os "darwin") }}
tap "mongodb/brew"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
brew "cask"
brew "mongodb-community"
cask "adobe-acrobat-reader"
cask "appcleaner"
cask "brave-browser"
cask "docker"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "google-chrome-dev"
cask "google-drive"
cask "gpg-suite-no-mail"
cask "iterm2"
cask "kindle"
cask "messenger"
cask "microsoft-edge"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "postman"
cask "runjs"
cask "sourcetree"
cask "spotify"
cask "steam"
cask "sublime-text"
cask "ticktick"
cask "visual-studio-code"
cask "vlc"
cask "zoom"
{{ end }}
EOF

brew services start caddy
brew services start postgresql
{{ if (eq .chezmoi.os "darwin") }}
brew services start mongodb-community
{{ end }}
