#!/usr/bin/env bash

# In phase 1, assume that Homebrew has already been installed and install all needed binary files from the package manager

brew bundle --no-lock --file=- <<EOF
tap "canac/tap"
tap "homebrew/services"
tap "nextdns/tap"
brew "canac/tap/chron"
brew "canac/tap/mailbox"
brew "canac/tap/portman"
brew "nextdns/tap/nextdns"
brew "bat"
brew "bitwarden-cli"
brew "broot"
brew "caddy"
brew "chezmoi"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "lazygit"
brew "mcfly"
brew "postgresql@15"
brew "restic"
brew "ripgrep"
brew "ruby"
brew "starship"
brew "wget"
brew "xh"
brew "zoxide"
{{ if .work }}
brew "asdf"
brew "awscli"
brew "fnm"
brew "gum"
brew "maven"
brew "terraform"
{{ else }}
brew "cargo-edit"
brew "deno"
brew "ffmpeg"
brew "imagemagick"
brew "rustup-init"
brew "volta"
brew "yt-dlp"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
brew "cask"
brew "pinentry-mac"
cask "homebrew/cask-fonts/font-fira-code-nerd-font"
cask "appcleaner"
cask "beekeeper-studio"
cask "brave-browser"
cask "firefox"
cask "google-chrome"
cask "google-drive"
cask "iterm2"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "notesnook"
cask "postman"
cask "raycast"
cask "signal"
cask "sourcetree"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
{{ if .work }}
tap "homebrew/cask-versions"
cask "breaktimer"
cask "slack"
cask "temurin8"
{{ else }}
tap "mongodb/brew"
brew "mongodb/brew/mongodb-community"
cask "adobe-acrobat-reader"
cask "docker"
cask "kindle"
cask "messenger"
cask "ticktick"
cask "vlc"
cask "warp"
{{ end }}
{{ end }}
EOF

# Create an empty Caddyfile if it doesn't exist yet so that caddy can be started
caddyfile="$(brew --prefix)/etc/Caddyfile"
if [[ ! -e "$caddyfile" ]]; then
  echo "# Empty" > $caddyfile
fi

brew services start caddy
brew services start postgresql@15
{{ if and (not .work) (eq .chezmoi.os "darwin") }}
brew services start mongodb-community
{{ end }}
