#!/usr/bin/env bash

# In phase 1, assume that Homebrew has already been installed and install all needed binary files from the package manager

brew bundle --file=- <<EOF
tap "canac/tap"
brew "canac/tap/chron"
brew "canac/tap/kaw"
brew "canac/tap/mailbox"
brew "canac/tap/portman"
brew "bat"
brew "bitwarden-cli"
brew "broot"
brew "caddy"
brew "chezmoi"
brew "deno"
brew "dnsmasq"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "gnupg"
brew "gron"
brew "gum"
brew "imagemagick"
brew "lazygit"
brew "mcfly"
brew "mise"
brew "postgresql@17"
brew "restic"
brew "ripgrep"
brew "starship"
brew "trash"
brew "wget"
brew "xh"
brew "zoxide"
{{ if .cru }}
brew "awscli"
brew "colima"
brew "dasel"
brew "docker"
brew "docker-credential-helper"
brew "git-lfs"
brew "maven"
brew "postgresql@13"
{{ end }}
{{ if .personal }}
brew "ffmpeg"
brew "yt-dlp"
{{ end }}
{{ if .rust }}
brew "rustup"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
brew "cask"
brew "pinentry-mac"
cask "appcleaner"
cask "beekeeper-studio"
cask "brave-browser"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "google-drive"
cask "iterm2"
cask "microsoft-excel"
cask "microsoft-word"
cask "notesnook"
cask "postman"
cask "raycast"
cask "rio"
cask "signal"
cask "spotify"
cask "visual-studio-code"
{{ if .cru }}
cask "breaktimer"
cask "heynote"
cask "mitmproxy"
cask "slack"
cask "temurin@8"
{{ end }}
{{ if .personal }}
cask "messenger"
cask "ticktick"
{{ end }}
{{ end }}
EOF

mise install

gh extension install github/gh-copilot

deno install jsr:@canac/bundle-blame --global --reload --force --allow-env --allow-read --allow-write --allow-run=git,yarn
deno install jsr:@canac/git-cleanup --global --reload --force --allow-env --allow-read --allow-run=git

{{ if .cru }}
# stage-console expects to be able to call docker-credential-desktop
credential_helper={{ if eq .chezmoi.os "darwin" }}"docker-credential-osxkeychain"{{ else }}"docker-credential-pass"{{ end }}
ln -sf "$(brew --prefix)/bin/$credential_helper" "$(brew --prefix)/bin/docker-credential-desktop"
{{ end }}
