#!/usr/bin/env bash

# In phase 1, assume that Homebrew has already been installed and install all needed binary files from the package manager

brew bundle --file=- <<EOF
tap "canac/tap", trusted: true
brew "canac/tap/chron"
brew "canac/tap/kaw"
brew "canac/tap/mailbox"
brew "canac/tap/portman"
tap "withastro/rosie", trusted: true
brew "withastro/rosie/rosie"
brew "bat"
brew "broot"
brew "caddy"
brew "chezmoi"
brew "deno"
brew "dnsmasq"
brew "doppler"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "gnupg"
brew "gron"
brew "gum"
brew "imagemagick"
brew "jq"
brew "lazygit"
brew "mcfly"
brew "mise"
brew "node"
brew "postgresql@18"
brew "ripgrep"
brew "starship"
brew "trash"
brew "watchexec"
brew "wget"
brew "xh"
{{ if .cru }}
brew "awscli"
brew "colima"
brew "dasel"
brew "docker"
brew "docker-credential-helper"
brew "git-lfs"
brew "libyaml"
brew "protobuf"
brew "redis"
brew "uv"
brew "vips"
{{ end }}
{{ if .personal }}
brew "ffmpeg"
brew "yt-dlp"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
brew "cask"
brew "pinentry-mac"
cask "appcleaner"
cask "beekeeper-studio"
cask "brave-browser"
cask "cmux"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "google-drive"
cask "microsoft-excel"
cask "microsoft-word"
cask "notesnook"
cask "raycast"
cask "signal"
cask "spotify"
cask "ticktick"
cask "visual-studio-code"
cask "yaak"
cask "zed"
{{ if .cru }}
cask "breaktimer"
cask "heynote"
cask "mitmproxy"
cask "slack"
{{ end }}
{{ if .personal }}
cask "messenger"
{{ end }}
{{ end }}
EOF

{{ if .cru }}
# stage-console expects to be able to call docker-credential-desktop
credential_helper={{ if eq .chezmoi.os "darwin" }}"docker-credential-osxkeychain"{{ else }}"docker-credential-pass"{{ end }}
ln -sf "$(brew --prefix)/bin/$credential_helper" "$(brew --prefix)/bin/docker-credential-desktop"
{{ end }}
