#!/bin/bash

# In phase 1, assume that Homebrew has already been installed and install all needed binary files from the package manager

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/services"
tap "canac/tap"
tap "nextdns/tap"
brew "bat"
brew "broot"
brew "caddy"
brew "cargo-edit"
brew "chezmoi"
brew "copier"
brew "ffmpeg"
brew "fd"
brew "fish"
brew "fzf"
brew "git"
brew "git-absorb"
brew "git-delta"
brew "go"
brew "imagemagick"
brew "lazygit"
brew "mcfly"
brew "nextdns"
brew "node"
brew "postgresql"
brew "portman"
brew "restic"
brew "ripgrep"
brew "ruby"
brew "rustup-init"
brew "starship"
brew "wget"
brew "yt-dlp"
brew "zoxide"
{{ if (eq .chezmoi.os "darwin") }}
tap "mongodb/brew"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
brew "cask"
brew "mongodb-community"
cask "adobe-acrobat-reader"
cask "appcleaner"
cask "brave-browser"
cask "docker"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "google-chrome-dev"
cask "google-drive"
cask "gpg-suite-no-mail"
cask "iterm2"
cask "kindle"
cask "messenger"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "postman"
cask "raycast"
cask "sourcetree"
cask "spotify"
cask "sublime-text"
cask "ticktick"
cask "visual-studio-code"
cask "vlc"
cask "zoom"
{{ end }}
EOF

brew services start caddy
brew services start postgresql
{{ if (eq .chezmoi.os "darwin") }}
brew services start mongodb-community
{{ end }}
