#!/usr/bin/env bash

# In phase 1, assume that Homebrew has already been installed and install all needed binary files from the package manager

brew bundle --no-lock --file=- <<EOF
tap "canac/tap"
tap "homebrew/services"
tap "nextdns/tap"
brew "canac/tap/chron"
brew "canac/tap/mailbox"
brew "canac/tap/portman"
brew "nextdns/tap/nextdns"
brew "bat"
brew "bitwarden-cli"
brew "broot"
brew "caddy"
brew "chezmoi"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "imagemagick"
brew "lazygit"
brew "mcfly"
brew "postgresql@15"
brew "restic"
brew "ripgrep"
brew "ruby"
brew "starship"
brew "trash"
brew "wget"
brew "xh"
brew "zoxide"
{{ if .work }}
brew "awscli"
brew "maven"
brew "mise"
brew "mitmproxy"
brew "terraform"
{{ else }}
brew "cargo-edit"
brew "deno"
brew "ffmpeg"
brew "rustup-init"
brew "volta"
brew "yt-dlp"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
brew "cask"
brew "pinentry-mac"
cask "homebrew/cask-fonts/font-fira-code-nerd-font"
cask "appcleaner"
cask "beekeeper-studio"
cask "brave-browser"
cask "firefox"
cask "google-chrome"
cask "google-drive"
cask "iterm2"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "notesnook"
cask "postman"
cask "raycast"
cask "signal"
cask "sourcetree"
cask "spotify"
cask "visual-studio-code"
cask "warp"
{{ if .work }}
tap "homebrew/cask-versions"
cask "breaktimer"
cask "docker"
cask "slack"
cask "homebrew/cask-versions/temurin8"
{{ else }}
cask "kindle"
cask "messenger"
cask "ticktick"
{{ end }}
{{ end }}
EOF

{{ if .work }}
# Install v1.22.19 because as of v1.21.21, the last two releases don't include the .asc files, which causes installation to fail
mise use --global --yes yarn@1.22.19
{{ end }}
