{{- $backup_namespace := promptStringOnce . "backup_namespace" "What is your backup namespace" -}}
{{- $email := "canac@users.noreply.github.com" -}}
{{- $env := (bitwarden "item" "chezmoi-env.yml").notes | fromYaml -}}
{{- $password_salt := $env.PASSWORD_SALT -}}
{{- $cru := promptBoolOnce . "cru" "Do you want to set up Cru development dependencies" -}}
{{- $proxy := and (eq .chezmoi.os "darwin") (promptBoolOnce . "proxy" "Do you want to set up mitmproxy") -}}
{{- $rust := promptBoolOnce . "rust" "Do you want to set up Rust development" -}}
{{- $watcher := promptBoolOnce . "watcher" "Do you want to set up watcher scripts" -}}

encryption = "gpg"

[data]
    backup_bucket = "grader-rectify-patio"
    backup_namespace = {{ $backup_namespace | quote }}
    brew_bin = {{ default (printf "%s/bin" (env "HOMEBREW_PREFIX")) (index . "brew_bin") | quote }}
    email = {{ $email | quote }}
    nextdns_profile = "1d7724"
    signing_key_id = {{ default (env "SIGNING_KEY_ID") (index . "signing_key_id") | quote }}
    cru = {{ $cru }}
    personal = {{ not $cru }}
    proxy = {{ $proxy }}
    rust = {{ $rust }}
    watcher = {{ $watcher }}

[data.env]
    b2_account_id = {{ $env.B2_ACCOUNT_ID | quote }}
    b2_account_key = {{ $env.B2_ACCOUNT_KEY | quote }}
    github_token = {{ $env.GITHUB_TOKEN | quote }}
    restic_password = {{ sha256sum (print $backup_namespace $password_salt) | quote }}

[diff]
    command = "delta"
    args = {{`["{{ .Destination }}", "{{ .Target }}"]`}}

[gpg]
    recipient = {{ $email | quote }}
