{{- $email := "canac@users.noreply.github.com" -}}
{{- $cru := promptBoolOnce . "cru" "Do you want to set up Cru development dependencies" -}}
{{- $proxy := and (eq .chezmoi.os "darwin") (promptBoolOnce . "proxy" "Do you want to set up mitmproxy") -}}
{{- $rust := promptBoolOnce . "rust" "Do you want to set up Rust development" -}}
{{- $watcher := promptBoolOnce . "watcher" "Do you want to set up watcher scripts" -}}

encryption = "gpg"

[data]
    # HOMEBREW_PREFIX is initially set by ./install.sh
    brew_bin = {{ default (printf "%s/bin" (env "HOMEBREW_PREFIX")) (index . "brew_bin") | quote }}
    email = {{ $email | quote }}
    nextdns_profile = "1d7724"
    signing_key_id = {{ include ".signing_key_id" | trim | quote }}
    cru = {{ $cru }}
    personal = {{ not $cru }}
    proxy = {{ $proxy }}
    rust = {{ $rust }}
    watcher = {{ $watcher }}

[diff]
    command = "delta"
    args = {{`["{{ .Destination }}", "{{ .Target }}"]`}}

[doppler]
    project = "chezmoi"
    config = "main"

[hooks.read-source-state.pre]
    command = {{ printf "%s/.install.sh" .chezmoi.sourceDir | quote }}

[gpg]
    recipient = {{ $email | quote }}
