[alias]
	a = add
	aa = add .
	ai = add --interactive
	ap = add --patch
	b = branch
	ba = branch --all
	bd = branch --delete
	bdo = push origin --delete
	bf = branch --force
	bk = reset HEAD@{1}
	bm = branch --move
	bmf = branch --move --force
	c = commit
	ca = commit --amend --no-edit
	cav = commit --amend --no-edit --no-verify
	ce = commit --amend
	cf = fixup
	ch = cherry-pick
	cha = cherry-pick --abort
	cm = commit --allow-empty
	cr = recommit
	cv = commit --no-verify
	d = diff
	db = !git diff $(git merge-base $(git primary) HEAD)
	dn = diff --name-only
	do = !git diff origin/$(git current)
	ds = diff --staged
	dsn = diff --staged --name-only
	dst = diff --staged --stat
	dt = diff --stat
	fm = !git fetch origin $(git primary)
	l = log --oneline --abbrev-commit
	lb = !git l $(git merge-base $(git primary) HEAD)..HEAD
	lg = l --graph
	lv = log
	m = merge --no-ff
	ma = merge --abort
	mi = merge-into
	mid = merge-into develop
	mis = merge-into staging
	mm = !git merge origin/$(git primary)
	ms = merge staging
	mt = merge --strategy-option theirs
	r = restore
	ra = rebase --abort
	rbm = !git rebase origin/$(git primary)
	rc = rebase --continue
	rh = reset --hard
	ri = rebase --interactive
	rik = rebase --interactive --keep-base
	rim = !git rebase --interactive $(git primary)
	rimk = rim --keep-base
	ro = !git reset origin/$(git current)
	roh = ro --hard
	rv = remote --verbose
	open-pr = !gh pr view --web
	p = push
	pf = push --force-with-lease --force-if-includes
	s = status
	sa = stash apply
	sh = stash
	si = stash --staged
	ski = stash --keep-index
	sn = show --name-only
	sp = stash pop
	spi = stash pop --index
	ss = stash show
	st = switch
	stb = switch --create
	std = switch --detach
	stf = switch --force
	stm = !git switch $(git primary)
	sts = switch staging
	sw = show
	swn = show --name-only
	swt = show --stat
	tr = trace
	ua = reset HEAD
	uc = reset HEAD~1 --soft
	web-pr = !gh pr create --web --assignee=@me
[branch]
	autosetuprebase = always
	sort = -committerdate
[color]
	ui = true
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = code --wait
	pager = delta
	safecrlf = true
[credential]
	helper = osxkeychain
[delta]
	features = decorations
[delta "decorations"]
	commit-decoration-style = blue ol
	file-style = omit
	hunk-header-file-style = red
	hunk-header-style = file line-number syntax
	syntax-theme = "Visual Studio Dark+"
[delta "interactive"]
	keep-plus-minus-markers = false
[diff]
	algorithm = histogram
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
	useForceIfIncludes = true
[rebase]
	autosquash = true
	autostash = true
	rebaseMerges = true
[remote "origin"]
	prune = true
[rerere]
	autoUpdate = true
	enabled = true
[stash]
	showPatch = true
[tag]
	gpgsign = true
[user]
	email = {{ .email }}
	name = Caleb Cox
	signingkey = {{ .signing_key_id }}
