[alias]
	a = add
	ai = add --interactive
	ap = add --patch
	b = branch
	ba = branch --all
	bd = branch --delete
	bdo = push origin --delete
	bf = branch --force
	bm = branch --move
	bmf = branch --move --force
	ch = !git reflog | rg commit: | fzf --no-sort
	ci = commit
	cia = commit --amend
	ciaf = commit --amend --no-verify
	cian = commit --amend --no-edit
	cianf = commit --amend --no-edit --no-verify
	cif = commit --no-verify
	d = diff
	ds = diff --staged
	fm = !git fetch origin $(git primary)
	l = log
	l1 = log --oneline --abbrev-commit
	lg = l1 --graph
	m = merge --no-ff
	ma = merge --abort
	mm = !git merge origin/$(git primary)
	ms = merge staging
	mt = merge -X theirs
	ra = rebase --abort
	rbm = !git rebase origin/$(git primary)
	rc = rebase --continue
	ri = rebase --interactive
	rim = !git rebase --interactive $(git primary) $(git current)
	rv = remote --verbose
	p = push
	pf = push --force-with-lease
	s = status
	sa = stash apply
	sh = stash
	sk = stash --keep-index
	sn = show --name-only
	sp = stash pop
	ss = stash show --patch
	st = switch
	stb = switch --create
	std = switch --detach
	stm = !git switch $(git primary)
	sts = switch staging
	sw = show
	r = restore
	rr = restore origin/$(git current)
	ua = reset HEAD
	uci = reset HEAD^
[branch]
	autosetuprebase = always
[color]
	ui = true
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = code --wait
	pager = delta
	safecrlf = true
[credential]
	helper = osxkeychain
[delta]
	features = decorations
[delta "decorations"]
	commit-decoration-style = blue ol
	file-style = omit
	hunk-header-file-style = red
	hunk-header-style = file line-number syntax
	syntax-theme = "Visual Studio Dark+"
[delta "interactive"]
	keep-plus-minus-markers = false
[help]
	autocorrect = 10
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autosquash = true
[remote "origin"]
	prune = true
[tag]
	gpgsign = true
[user]
	email = {{ .email }}
	name = Caleb Cox
	signingkey = {{ .signing_key_id }}
