[alias]
	a = add
	ai = add --interactive
	ap = add --patch
	b = branch
	ba = branch --remote
	bd = branch --delete
	bdr = push origin --delete
	bf = branch --force
	bm = branch --move
	bmf = branch --move --force
	cb = checkout -b
	ch = !git reflog | rg commit
	ci = commit
	cia = commit --amend
	cif = commit --no-verify
	ciaf = commit --amend --no-verify
	cian = commit --amend --no-edit
	cianf = commit --amend --no-edit --no-verify
	co = checkout
	d = diff
	ds = diff --staged
	l1 = log --pretty=oneline
	m = merge --no-ff
	ma = merge --abort
	ra = rebase --abort
	rb = rebase origin/main
	rc = rebase --continue
	ri = rebase --interactive
	rv = remote --verbose
	pf = push --force-with-lease
	pn = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	s = status
	sa = stash apply
	sh = stash
	sk = stash --keep-index
	sp = stash pop
	ss = stash show --patch
	ua = reset HEAD
	uci = reset HEAD^
[branch]
	autosetuprebase = always
[color]
	ui = true
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = code --wait
	pager = delta
	safecrlf = true
[credential]
	helper = osxkeychain
[delta]
	features = decorations
[delta "decorations"]
	syntax-theme = "Visual Studio Dark+"
	commit-decoration-style = blue ol
	file-style = omit
	hunk-header-file-style = red
	hunk-header-style = file line-number syntax
[delta "interactive"]
	keep-plus-minus-markers = false
[help]
	autocorrect = 10
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only --features=interactive
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = true
[rebase]
	autosquash = true
[remote "origin"]
	prune = true
[tag]
	gpgsign = true
[user]
	email = {{ .email }}
	name = Caleb Cox
	signingkey = {{ .signing_key_id }}
