<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.canac.chron</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>{{ .brew_bin }}/fish</string>
      <string>--command</string>
      <string>chron run ~/.config/chron/chronfile.toml --port $(portman create chron --no-activate --overwrite)</string>
    </array>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Application Support/com.canac.chron/chron.log</string>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Application Support/com.canac.chron/chron.log</string>
  </dict>
</plist>
