#!/usr/bin/env bash

# Install stargazer
deno install --global --force \
  --allow-read="$HOME/.local/share/canac/" \
  --allow-write="$HOME/.local/share/canac/" \
  --allow-env=HOME,GITHUB_TOKEN \
  --allow-net \
  --allow-run=mailbox \
  "$HOME/dev/scripts/stargazer.ts"
