#!/usr/bin/env bash

# hash: {{ include "dev/exact_scripts/stargazer.ts" | sha256sum }}
# hash: {{ include "dev/exact_scripts/mailbox.ts" | sha256sum }}

# Install stargazer whenever it changes
deno install --global --force \
  --allow-read="$HOME/.local/share/canac/" \
  --allow-write="$HOME/.local/share/canac/" \
  --allow-env=HOME,GITHUB_TOKEN \
  --allow-net \
  --allow-run=mailbox \
  "$HOME/dev/scripts/stargazer.ts"
