#!/usr/bin/env bash

# Install feed-watcher whenever it changes
deno install --global --force \
  --unstable-kv \
  --allow-env=DENO_KV_ACCESS_TOKEN,MAILBOX_PROXY_DATABASE_ID \
  --allow-net=api.deno.com,us-east4.txnproxy.deno-gcp.net \
  --allow-run=mailbox \
  "$HOME/dev/scripts/mailbox-proxy.ts"
