#!/usr/bin/env bash

# Install feed-watcher whenever it changes
deno install --global --force \
  --allow-read="$HOME/.local/share/canac/" \
  --allow-write="$HOME/.local/share/canac/" \
  --allow-env=HOME \
  --allow-net \
  --allow-run=mailbox \
  "$HOME/dev/scripts/feed-watcher.ts"
