function dns-resolver --description 'Set the system DNS resolver'
    set resolver $argv[1]

    {{ if eq .chezmoi.os "darwin" }}
    if test $resolver = default
        networksetup -setdnsservers Wi-Fi empty
    else
        networksetup -setdnsservers Wi-Fi 127.0.0.1
    end
    {{ end }}

    switch $resolver
        case default adguard nextdns
            cp $HOME/.config/dnsmasq/$resolver.conf $HOMEBREW_PREFIX/etc/dnsmasq.conf
            brew services restart dnsmasq
        case '*'
            echo "Usage: dns-resolver [default|adguard|nextdns]"
            return 1
    end
end
