{{ if (eq .chezmoi.os "darwin") }}
eval (/usr/local/bin/brew shellenv)
{{ else if (eq .chezmoi.os "linux" ) }}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ end }}
starship init fish | source
zoxide init fish | source
mcfly init fish | source
{{ if (eq .chezmoi.os "darwin") }}
source $HOME/.iterm2_shell_integration.fish
{{ end }}

fish_add_path (brew --prefix)/opt/ruby/bin
fish_add_path ~/.cargo/bin
{{ if (eq .chezmoi.os "darwin") }}
fish_add_path ~/.kenv/bin
{{ end }}
fish_add_path ~/.local/bin
fish_add_path ~/go/bin

set -U fish_greeting
set -Ux EDITOR code

abbr -a -U -- .. 'cd ..'
abbr -a -U -- bu 'brew upgrade'
abbr -a -U -- c 'code .'
abbr -a -U -- cd z
abbr -a -U -- g git
abbr -a -U -- gp 'git push'
abbr -a -U -- gs 'git status'
abbr -a -U -- l 'ls -lah'
abbr -a -U -- mc mkdir_and_cd
abbr -a -U -- n 'npm run'
abbr -a -U -- nd 'npm run dev'
abbr -a -U -- ni 'npm install --save'
abbr -a -U -- nid 'npm install --save-dev'
abbr -a -U -- nr 'npm uninstall --save'
abbr -a -U -- nrd 'npm uninstall --save-dev'
abbr -a -U -- ns 'npm start'
abbr -a -U -- nt 'npm test'
abbr -a -U -- r npm-run
abbr -a -U -- s 'stree .'
