{{ if .brew_cmd }}
eval ({{ .brew_cmd }} shellenv)
{{ end }}
starship init fish | source
zoxide init fish | source
mcfly init fish | source
{{ if (eq .chezmoi.os "darwin") }}
source $HOME/.iterm2_shell_integration.fish
{{ end }}

fish_add_path -g (brew --prefix ruby)/bin
fish_add_path -g ~/.cargo/bin
fish_add_path -g ~/.local/bin
fish_add_path -g ~/go/bin

set -g fish_greeting
set -gx EDITOR code
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx FZF_CTRL_T_COMMAND "fd --type file --hidden --exclude .git/ | sed 's@^\./@@'"
set -gx FZF_CTRL_T_OPTS "--preview \"bat --color=always {}\""
set -gx LG_CONFIG_FILE "$HOME/.config/lazygit/config.yml"

abbr -a -g -- .. 'cd ..'
abbr -a -g -- bu 'brew upgrade'
abbr -a -g -- c 'code .'
abbr -a -g -- cd z
abbr -a -g -- cr 'cargo run --'
abbr -a -g -- g git
abbr -a -g -- gp 'git push'
abbr -a -g -- gs 'git status'
abbr -a -g -- l 'ls -lah'
abbr -a -g -- lg lazygit
abbr -a -g -- mc mkdir_and_cd
abbr -a -g -- n 'npm run'
abbr -a -g -- nd 'npm run dev'
abbr -a -g -- ni 'npm install --save'
abbr -a -g -- nid 'npm install --save-dev'
abbr -a -g -- nr 'npm uninstall --save'
abbr -a -g -- nrd 'npm uninstall --save-dev'
abbr -a -g -- ns 'npm start'
abbr -a -g -- nt 'npm test'
abbr -a -g -- r npm-run
abbr -a -g -- s 'stree .'
