#!/usr/bin/env fish

# hash: {{ joinPath .chezmoi.sourceDir "private_dot_config/private_fish/fish_plugins" | include | sha256sum }}

# Update the fisher plugins when the fish_plugins file changes
fisher update
