#!/usr/bin/env bash

cru application secrets read --name mpdx_api --env prod --keys DB_ENV_POSTGRESQL_DB,DB_PORT_5432_TCP_ADDR

echo "DB_ENV_POSTGRESQL_USER={{ doppler "MPDX_DB_ENV_POSTGRESQL_USER" }}"
echo "DB_ENV_POSTGRESQL_PASS={{ doppler "MPDX_DB_ENV_POSTGRESQL_PASS" }}"
