#!/bin/bash

{{ if (ne .chezmoi.os "darwin") }}
sudo apt install curl gcc git
{{ end }}

# Install Homebrew and extract the Homebrew binary location
HOMEBREW_BIN="$(/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" | tee /dev/tty | grep '^.\+/bin/brew$')"
$HOMEBREW_BIN shellenv

# Install Bitwarden
brew install chezmoi node

# Log into Bitwarden, or unlock the vault if the user is already logged in
export BW_SESSION=$(npx @bitwarden/cli login --raw || npx @bitwarden/cli unlock --raw)
npx @bitwarden/cli sync

# Run chezmoi
chezmoi init --apply canac
