[settings]
idiomatic_version_file_enable_tools = ["ruby"]

[tools]
{{ if .cru }}
"asdf:CruGlobal/asdf-cru-cli" = "latest"
dotenvx = "latest"
{{ end }}
ruby = "latest"
yarn = "latest"

{{ if .cru }}
[shell_alias]
local-stage = "mise task run local-stage"

[tasks.deploy-status]
run = "gh workflow view build-deploy-ecs.yml"

[tasks.local-stage]
run = "dotenvx run --env-file .env.local.staging --"
{{ end }}
